<nav>
  <ul class="cust">
    <li><a href="/welcome">Welcome</li>
    <li><a href="/foods/all">Menu</a></li>
    <li><a href="/parties/all">Reservations</a></li>
    </ul>
  <ul class="emp">Employee Menu:
    <li></li>
    <li><a href="/foods/new">Add to Menu</a></li>
    <li><a href="/parties/new">Seat Party</a></li>
    <li><a href="/parties/all">Take Orders</a></li>
  </ul>
</nav>
