<nav>
  <ul>Customer Menu:
    <li>Welcome</li>
    <li><a href="/foods/all">Menu</a></li>
    <li><a href="/parties/all">Parties</a></li>
    <li><a href="/orders/all">Orders</a></li>
  </ul>

  <ul>Employee Menu:
    <li><a href="/foods/new">Add to Menu</a></li>
    <li><a href="/parties/new">Seat Party</a></li>
    <li><a href="/orders/new">Take Order</a></li>
  </ul>
</nav>
