<br>
<ul>Regular
  <% @menu.each do |item| %>
    <% if item[:veg] == false %>
      <li><%= item.name %> <%= item.price %></li>
      <% end %>
  <% end %>
</ul>

<br>

<ul>Vegetarian
  <% @menu.each do |item| %>
  <% if item[:veg] == true %>
    <li><%= item.name %> <%= item.price %></li>
    <% end %>
  <% end %>
</ul>
