<p>add menu items here</p>
<form action="/menu" method="POST">
  Name: <input type="text" name="food[name]"><br>
  Cuisine: <input type="text" name="food[cuisine]"><br>
  Vegetarian: <input type="radio" value="true" name="food[veg]">Yes
               <input checked="checked" type="radio" value="false" name="food[veg]">No<br>
  Price: <input type="integer" name="food[price]"><br>
  <input type="submit">
</forn>
