<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
  <header>
    <%= erb :"/static/navigation" %>
  </header>
  <main>
    <p>REMOVE ME</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam vel, itaque debitis perferendis aspernatur maiores aut animi eius autem, officia nisi quia harum molestiae iure laudantium eligendi assumenda, inventore temporibus.</p>
    <%= yield %>
  </main>
  <footer>
    <%= erb :"/static/copyright" %>
  </footer>
</body>
</html>
