<h1>New Party</h1>
<form action="/parties" method="post">
  Name: <input type="text" name="party[name]"><br>
  Guests: <input type="integer" name="party[headcount]"><br>
  <input type="submit">
</form>
