<h1>Confirm delete for <%= @party.name %> party?</h1>

<form action="/parties/remove/<%= @party.id %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <input type="submit">Confirm?</input>
</form>
