* {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

body {
  padding-top: 10px;
  width: 900px;
  margin: 0 auto;
  font-family: Georgia;
  background: #9ff;
}

header {
  position: relative;
  margin-bottom: 2em;
  background: url('images/header.png');
  height: 100px;
}

header nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 60px;
}

header > img {
  width: 100%;
}

.cust {
  float: none;
  font-family: "Palatino Linotype";
  font-size: 1.5em;
  font-style: bold;
  color: white;
}

.emp {
  color: yellow;
  font-family: "Verdana";
  margin-top: 0;

}

nav ul {
  text-align: center;
}

nav li {
  display: inline;
  margin: auto;
  padding-right: 1em;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 2px;
}

table, th, td {
  border: 1px solid black;
}

th, tfoot {
  font-weight: bold;
  text-align: center;
}

main {
  padding: 0 24px;
}

footer {
  margin-top: 2em;
  border-top: 1px solid black;
  font-size: .75em;
  padding: 18px 24px;
}

.copywrite {
  text-align: center;
}
