<nav>
  <ul>Customer Menu:
    <li>Welcome</li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/parties">Parties</a></li>
    <li><a href="/orders">Orders</a></li>
  </ul>

  <ul>Employee Menu:
    <li><a href="/menu/add">Add to Menu</a></li>
    <li><a href="/parties/new">Seat Party</a></li>
    <li><a href="/meals/new">Take Order</a></li>
    <li><a href="/parties/checkout">Checkout</a></li>
  </ul>
</nav>
